.caja {
	float: left;
	text-align: center;
	width: 240px;
	height: 260px;
	background: #F4C7ED;
	font-size: 15px;
	border: solid 1px;
	margin: 10px;
	padding-top: 10px;
}	

body {
	font-family: 'Bitter', serif;
}

h4 {
	font-style: italic;
}

.icon {
	font-size: 50px;
	margin: auto;
}

.caja:hover {
	width: 240px;
	height: 300px;
	transition: 1s;
}

.caja:hover span {
	color: #F933F2;
	transition: 1s;
	font-size: 90px;
}

.caja:hover h4 {
	color: #F933F2;
	transition: 1s;

}

.caja:hover p {
	color: #F933F2;
	transition: 1s;
}